@import '{seba:ionic-sass}/scss/ionic';
@import '{seba:ionic-sass}/scss/ionicons/ionicons';

.Studio {
	overflow-x: hidden;
	overflow-y: hidden;
    #studioCanvas
    {
    	background-color: $calm;
    	border-radius: 15px;
    } 
}