$foreground-gray: #337ab7;
$background-gray: #FCFCFC;

$font-family:  'Open Sans', sans-serif;

h1 {
	margin-top: 0px;
	font-family: $font-family; 
	font-weight: 700;
	color: #FFF;
}
h3 { 
	font-family: $font-family; 
	font-weight: 700;
	color: $foreground-gray;
}

a {
	color : #000;
}

header {
  background: $foreground-gray;
  border-radius: 2px;
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin: 0rem 0 1rem 0;
    border: solid #DAE8E6 1px;
}
body {
   background: $background-gray;
   text-align: center;
   font-family: $font-family; 
}

button {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.userinfo{
	background: $background-gray;
	padding-top: 1rem;
	padding-bottom: 1rem;
   text-align: center;
   font-family: $font-family; 

   button {
	display: inline-block;
	background-color: #DDDDDD;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
}
.content{ 
  background: #FFF;
  max-width: 1000px;
  border-radius: 2px;
  border: solid #DAE8E6 1px;
  display: block;
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

.logo{
	width: 5em;
	height: 5em;
}

img{
	border-radius: 100px;
}


footer {
   background: $background-gray;
   text-align: center;
   font-family: $font-family; 
   color: #FFF;
}


