.vote {
	a {
		color: #FFF !important;
	}
	i {
		color: #FFF;
	}
	.app-title {
		font-size: 36px;
		font-weight: 600;
	}
	.match-photo-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #E3F5FD;

		.match-img-holder {
			flex: 1;

			.match-img {
				margin: 15px;
				border-radius: 15px;
				width: 150px;
			}
		}
	}
	.user-photo-wrapper {
		display: flex;
		flex-direction: row wrap;
		justify-content: center;

		.card {
			width: 100%;
			border-radius: 5px;
			background-color: #E3F5FD;
			box-shadow: none;

			.item-avatar {
				padding: 5px 0 0 0;
				background-color: #E3F5FD;

				p {
					color: #90CAF9;
					font-weight: 600;
				}
				.avatar-level-1 {
					position: relative;
					top: 0;
					left: 0;
					background-color: #90CAF9;
				}
			}
		}
	}
	@keyframes pulse {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	.ctnr {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-color: #E3F5FD;
	}
	.ldr {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin: auto;
		width: 4em;
		height: 4em;
	}
	.ldr-blk {
		height: 35%;
		width: 35%;
		animation: pulse 0.75s ease-in infinite alternate;
		background-color: darken(#E3F5FD, 15%);
	}
	.an_delay {
		animation-delay: 0.75s;
	}
}
.selected {
	border: 5px solid #90CAF9;
}