.upload {
	a {
		color: #FFF;
	}
	i {
		color: #FFF;
	}
	.app-title {
		font-size: 36px;
		font-weight: 600;
	}
	.game-buttons {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	.match-img-holder {
		flex: 3;

		.match-img {
			margin: 15px;
			border-radius: 15px;
			width: 300px;
		}
	}
	.snap-pic {
		background-color: #90CAF9;
		width: 130px;
		height: 130px;
		margin: auto;
		border-radius: 130px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.snap-pic:hover {
		background-color: #a4c2f4;
	}
	.match-photo-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 95%;
	}
}