<template name="upload">
{{#contentFor "headerTitle"}}
  <h1 class="title">
    <span class="header-logo-left"></span>
    <span class="app-title">MAKE THAT FACE</span>
  </h1>
{{/contentFor}}

{{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton path="home" text=" "}}
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
    <div class ="match-photo-wrapper">
      <div class="match-img-holder">
        <img class = "match-img" src="{{matchUrl}}">
      </div>
      {{> photo}}
    </div>
     <!--  {{#each storedImages}}
        {{> storedImage}}
      {{/each}}

      <h3>Users playing:</h3>
      {{#each users}}
        <li>{{this}}</li>
      {{/each}}

      <div class="game-buttons">
        {{> newGame}}
        {{> leaveGame}}
      </div>
 -->
   {{/ionContent}}
{{/ionView}}
</template>

<template name = "newGame">
    <button class="button button-block button-calm">Start New Round</button>
</template>

<template name = "leaveGame">
    <button class="button button-block button-assertive">Leave Game</button>
</template>

<template name = "storedImage">
  <div class="list card">
    <div class="item item-avatar">
      {{> avatarimage}}
      <h2>Creator: </h2>
      <p>{{creatorUserName}}</p>
    </div>

    <div class="item item-image">
      <img src="{{imageSource}}">
    </div>

    <a data-id="{{_id}}" class="vote-button item item-icon-left" href="#">
      <i class="icon ion-checkmark-round balanced"></i>
      Vote ({{voteCount}})
    </a>
  </div>
</template>

<template name="photo">
<div class ="snap-pic">
<a id="snap">
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 40 40"><path fill="#FFF" d="M6.8 8.163H38.63v22.615H6.8z"/><path fill="#90CAF9" d="M5.813 15.855H39.3v7.82H5.812z"/><circle fill="#90CAF9" cx="23.113" cy="19.765" r="7.419"/><circle fill="none" stroke="#90CAF9" stroke-miterlimit="10" cx="23.114" cy="19.766" r="5.505"/><circle fill="#FFF" cx="23.114" cy="19.766" r="3.911"/><path fill="#FFF" d="M8.56 27.178c0 2.67-1.285 2.205-2.87 2.205-1.584 0-2.868.507-2.868-2.162V7.327c0-2.67 1.284-2.32 2.868-2.32 1.585 0 2.87-.483 2.87 2.185V27.18z"/><path fill="#FFF" d="M10.68 28.678c0 2.67-2.235 2.205-4.99 2.205-2.756 0-4.99.507-4.99-2.162V8.827c0-2.67 2.234-2.32 4.99-2.32 2.754 0 4.99-.483 4.99 2.185V28.68z"/></svg>
  </a>
  </div>
</template>
