<template name="upload">

{{#contentFor "headerTitle"}}
  <h1 class="title">Upload your Image</h1>
{{/contentFor}}

{{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton class="btn-positive" path="home" text="Back"}}
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
    <h2>Users playing:</h2>
    {{#each users}}
      <li>{{this}}</li>
    {{/each}}

    <br/>
    <br/>

    {{> newGame}}
    <br/>
    <a href="{{pathFor route='home'}}">Return to Lobby</a>


    <br/>
    <br/>

    <h3>Round Number: {{roundNumber}}</h3>

    <div>
      <img src="{{matchUrl}}">
    </div>

    {{> photo}}

    {{#each storedImages}}
      {{> storedImage}}
    {{/each}}
   {{/ionContent}}
{{/ionView}}

</template>

<template name = "newGame">
	<div>
		<button class="new-game-button">Start New Game</button>
	</div>
</template>

<template name = "storedImage">
	<div>
    <h3>Creator: {{creatorId}}</h3>
		<img src="{{imageSource}}">
		<button data-id="{{_id}}" class="vote-button">Vote for this picture. NumVotes: {{voteCount}}</button>
	</div>
</template>

<template name = "photo">
	<button id="snap">Snap Photo</button>
</template>
