<template name="home">
{{#contentFor "headerTitle"}}
  <h1 class="title">
  	<span class="header-logo-left"></span>
  	<span class="app-title">HOME</span>
  </h1>
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
  {{> atNavButton }}
{{/contentFor}}

{{#ionView}}
	{{#ionContent}}
	 {{> profilelink}}

   <div class ="list-create-wrapper">
      {{> gameList}}

        <button id="create-game" data-ion-modal="inviteFriends" class="button button-large button-primary">
          CREATE GAME
        </button>
  </div>

	{{/ionContent}}
{{/ionView}}
</template>

<template name="gameList">
    <div class="tabs">
    <button id="pending" class="tab-item">
      PENDING
    </button>

    <button id="active" class="tab-item">
      ACTIVE
    </button>

    <button id="completed" class="tab-item">
      COMPLETED
    </button>
    </div>

    <div class ="game-list">
    {{#ionList}}
     {{#if games.length}}
        {{#each games}}
          {{#if active}}
          <a href="upload/{{_id}}">
            {{#ionItem iconLeft=true id="my-id"}}
                <h3>{{_id}}</h3>
                {{> ionIcon icon="ios-camera" }}
              {{/ionItem}}
            </a>
            {{else}}
              {{#ionItem iconLeft=true buttonRight=true id="my-id"}}
                <h3>{{gameId}}</h3>
                {{> ionIcon icon="ios-help" }}
                <button class="button button-small button-calm" id={{gameId}}>Accept</button>
              {{/ionItem}}
          {{/if}}
        {{/each}}
        {{else}}
         {{#ionItem}}
                <h3>No {{tabSelected}} games</h3>
          {{/ionItem}}
        {{/if}}
      {{/ionList}}
    </div>
</template>


<template name="inviteFriends">
  {{#ionModal title="SELECT FRIENDS"}}
  <div class= "list-invite-wrapper">
    <div class ="friend-list">
    {{#ionContent}}
    {{#ionList}}
    		{{#each friends}}
    				{{#ionItem}}
  						  <input type="checkbox" name ="friends" value={{_id}}>
              {{username}}
    				{{/ionItem}}
    		{{/each}}
  		{{/ionList}}
      {{/ionContent}}
      </div>
  		<button id="start-game" class="button button-large button-primary" data-dismiss=modal>
  		START GAME
	</button>
  <div class="find-friends">
    Want more friends?     
    <button id="find-friends" class="button button-secondary">
      FIND FRIENDS
    </button>
  </div>
  </div>
  {{/ionModal}}
</template>