
$mockup-blue: #a4c2f4;
$calm: #a4c2f4;
$blue-deep: #90CAF9;
$font-family: 'Open Sans', sans-serif;

.home {
  .userinfo {
    padding: 8px 8px 0px 8px;
  }
  .avatar-level-1 {
    background-color: $blue-deep;
    width: 80px;
    border-radius: 120px;
  }
  .app-title {
    font-size: 36px;
    font-weight: 600;
  }
  .game-list {
    background-color: #FFF;
    flex: 1;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    h3 {
      color: #90CAF9;
    }
    .item {
      border: none;
      color: #90CAF9;
      background-color: #E3F5FD;
    }
  }
  .modal {
    background-color: #FFF;

    i {
      color: #FFF;
    }
    .title {
      background-color: $blue-deep;
      margin: 0px;
      color: #FFF !important;
      border: 0px;
    }
  }
  .friend-list {
    flex: 4;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    .item {
      border: none;
      background-color: #E3F5FD;
    }
  }
  .find-friends {
    flex: 0.4;
    line-height: 3.5em;
    padding: 1em;
  }
  .tab-buttons {
    button {
      width: 33%;
      font-weight: 600;
    }
  }
  .tabs {
    position: relative;
    background-color: transparent;
    border: none;

    .tab-item {
      width: 33%;
      font-weight: 600;
      max-width: initial;
      background-color: transparent;
      color: $blue-deep;
      border-top: solid $blue-deep 5px;
      border-bottom: solid $blue-deep 5px;
      border-left: none;
      border-right: none;
      border-radius: 0px;
    }
    .tab-item.active {
      background-color: #90CAF9;
      color: #FFF;
    }
    .tab-item:hover {
      background-color: #90CAF9;
      color: #FFF;
    }
  }
  .button-primary {
    border-radius: 15px;
    color: #FFF;
    font-weight: 600;
    width: 60%;
    background-color: #90CAF9;
    border: none;
    align-self: center;
  }
  .button-primary-small {
    border-radius: 15px;
    color: #FFF;
    font-weight: 600;
    background-color: #90CAF9;
    border: none;
    align-self: center;
  }
  .button-primary.active {
    background-color: #7CA6D6;
  }
  .button-primary:hover {
    background-color: $mockup-blue;
    color: #FFF;
  }
  .button-secondary {
    border-radius: 15px;
    color: #FFF;
    background-color: #FCE850;
    border: none;
    width: 60%;
  }
  .button-secondary.active {
    background-color: #FEC303;
  }
  .button-secondary:hover {
    background-color: #FEC303;
    color: #FFF;
  }
  .list-create-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
  .list-invite-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 50%;
  }
  ul.list-inset {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }
}