<template name="profile">
{{#contentFor "headerTitle"}}
  <h1 class="title">
    <span class="header-logo-left"></span>
    <span>Profile</span>
  </h1>
{{/contentFor}}

{{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton class="btn-positive" path="home" text=""}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
  {{> atNavButton }}
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
    <div class="padding at-form">
      <h3>{{user}}</h3>
      <div class="padding profile-button">
        <button class="at-btn button button-block button-energized" id="create-avatar">Create Avatar</button>
      </div>
      <div class="list friends-list">
        <div class="item item-divider">
          Friends
        </div>
        <div class="item item-text-wrap">
          {{#ionList}}
            {{#each friends}}
              {{username}}
            {{/each}}
          {{/ionList}}
        </div>
      </div>
      <div class="padding profile-button">
        <button id="add-friend" class="at-btn button button-block button-positive">Add friend</button>
      </div>

      <div class="list">
        <div class="item item-divider">
          Change display name
        </div>
        <div class="at-input item item-input item-text-wrap item-stacked-label padding">
            <input id="profilename" placeholder="New Display Name" autocapitalize="none" autocorrect="off">  
        </div>
      </div>
      <div class="padding profile-button">
        <button id="change-name" class="at-btn button button-block button-positive">Change</button>
      </div>

      {{> atForm state='changePwd'}}
    </div>
   {{/ionContent}}
{{/ionView}}
</template>

