<template name="profile">
{{#contentFor "headerTitle"}}
  <h1 class="title">
    <span class="header-logo-left"></span>
    <span>Profile</span>
  </h1>
{{/contentFor}}

{{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton class="btn-positive" path="home" text="Back"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
  {{> atNavButton }}
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
    <h3>{{user}}</h3>
    <div class="item friends-list">
      <label>Friends</label>
      {{#ionList}}
        {{#each friends}}
          {{username}}
        {{/each}}
      {{/ionList}}
      <button id="add-friend">add friend</button>
    </div>
    <div class="at-input item item-input item-text-wrap item-stacked-label">
        <label class="input-label" for="profilename">
            Change display name
        </label>
        <input id="profilename" placeholder="New Display Name" autocapitalize="none" autocorrect="off">  
        <button id="change-name">Submit</button>
    </div>
    {{> atForm state='changePwd'}}
    <div class="padding">
        <button class="button button-block button-energized" id="create-avatar">Create Avatar</button>
    </div>
   {{/ionContent}}
{{/ionView}}
</template>

